/* Fondo de pantalla del componente */
body {
  background: url('/public/images/Black\ &\ White\ City\ Skyscraper\ Desktop\ Wallpaper.png') center center / cover no-repeat;
  background-size: cover;
  min-height: 100vh; /* Aseguramos que ocupe al menos el 100% de la altura de la pantalla */
  margin: 0;
  display: flex;
  align-items: flex-start; /* Alineación al inicio para evitar que el contenido se desborde */
  justify-content: center;
  padding: 20px; /* Añadimos padding para evitar que el contenido toque los bordes */
}
